@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: inline-grid;
    font-family: roboto, Arial, Helvetica, sans-serif;
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
    height: 100vh;
    width: 100vw;
}

#header-container {
    display: inline-grid;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template: repeat(8, 1fr) / (8, 1fr);
    margin-left: 60px;
}

#main-container {
    background-color: rgb(222, 228, 233);
    display: grid;
    grid-template: 1fr repeat(4, 2fr) 1fr repeat(3, 2fr) / repeat(6, 1fr);
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 7;
}

#sb-container {
    background-color: rgb(0, 140, 255);
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 12fr;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
}

.a-card-heading {
    font-size: larger;
    font-weight: bold;
}
.announcement-card {

}

.announcement-heading {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 25px;
}

.card {
    background-color: white;
    border-radius: 7px;
}

.grid-element {
    border: 2px solid black;
}

.header-buttons {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 9; 
}

.header-info {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 9; 
}

.header-profile {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4; 
}
.header-search {
    align-items: center;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.heading {
    font-size: xx-large;
}

.lg-icon {
    height: 60px;
    width: 60px;
}

.main-announcements {
    display: grid;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 6;
    grid-template-rows: repeat(3, 1fr);
    margin: 0 75px 30px 25px;

}

.main-heading {
    margin-bottom: 15px;
    margin-top: 35px;
}

.main-projects {
    display: grid;
    gap: 40px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 10;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 100px;
}

.main-trending {
    display: grid;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 10;
    margin: 0 75px 100px 25px;

    grid-template-rows: repeat(3, 1fr);

}

.p-card-heading {
    font-size: x-large;
    font-weight: bold;
}

.p-card-icons {
    align-self: flex-end;
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    width: 40%;
}

.project-card {
    display: flex;
    flex-direction: column;
    font-size: larger;
    box-shadow: inset 15px 0px goldenrod;
    padding: 50px 45px 20px;
}

.project-heading {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 25px;
}

.sb-header {
    align-items: center;
    display: flex;
    gap: 20px;
    margin-left: 20px;
}

.sb-tabs {
    margin-left: 40px;
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(6, 1fr) 2fr repeat(3, 1fr) 9fr;
}

.search-bar {
    background-color: rgb(222, 228, 233);
    border: none;
    border-radius: 20px;
    height: 40px;
    margin-left: 20px;
    margin-right: 15%;
    width: 100%;
}

.sm-icon {
    height: 30px;
    width: 30x;
}

.tab {
    display: flex;
    align-items: center;
    gap: 20px
}

.trending-card {

}

.trending-heading {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    margin-left: 25px;
}
